.content {
    text-align: center;
}

.login-form {
    margin: auto;
    text-align: center;
}

.center-element {
    text-align: center;
}

h1 {
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
}